
@import url('https://fonts.googleapis.com/css?family=Sofia|Roboto&effect=shadow-multiple');


h1{
    color: #ef476f;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #ced4da;
    font-family: 'Sofia', cursive;
}

.caja{
    padding: 5px;
    width: 40%;
    height: 80px;
    border-radius: 5px;
    color: white;
    text-align: center;
    margin: 10px;
    font-size: 20px;
    float: left;
}

.caja.serif{
    background-color: #5a189a;

}

.fuente.times{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bolder;
    font-variant: small-caps;
    font-size: 20px;
    /*font: font-style font-variant font-weight +font-size/line-height +font-family;*/
    
}

.fuente.georgia{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.caja.sans-serif{
    background-color: #00b4d8;
    

}

.fuente.roboto{
    /*font-family: 'Roboto', sans-serif;*/
    font: italic small-caps bolder 20px Roboto, sans-serif;
    
}

.fuente.verdana{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    font-size: 2vw;/*view widht(viewport) 1vw=1% */
}

.caja.monospace{
    background-color: #f15bb5;
}

.fuente.courier{
    font-family: 'Courier New', Courier, monospace;
}

.caja.cursive{
    background-color: #ff8500;
}

.fuente.lucida{
    font-family: 'Lucida Handwriting', cursive;
}