body{
    
    color: cornsilk;
    background-attachment: fixed;
    background: dodgerblue url("/Leccion05/img/fondo.png") no-repeat right top;
}

h1{
    text-align: center;
    background-color: dodgerblue;
    
}