h1, div, p{
    border: 3px solid blueviolet;
    color: cornflowerblue;
    padding: 10px;
    display: block;
    text-align: center;
}
h1{
    display: none;
}

p{
    visibility: hidden;
}

span{
    display: inline;
    border: 1px solid blue;
}

a{
    display: block;
    
}

li{
    display: inline;
}